@font-face {
  font-family: "Bangers";
  src: url(./fonts/Bangers-Regular.ttf);
}

@font-face {
  font-family: "Boogaloo";
  src: url(./fonts/Boogaloo-Regular.ttf);
}

@font-face {
  font-family: "FrederickatheGreat";
  src: url(./fonts/FrederickatheGreat-Regular.ttf);
}

@font-face {
  font-family: "ShadowsIntoLight";
  src: url(./fonts/ShadowsIntoLight-Regular.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "LuckiestGuy";
  src: url(./fonts/LuckiestGuy-Regular.ttf);
}

/* Example media query for tablets (iPad landscape) */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Tablet landscape styles here */
  .title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}

/* Example media query for iPhones (portrait) */
@media screen and (max-width: 375px) and (orientation: portrait) {
  /* iPhone portrait styles here */
}

/* Example media query for iPhones (landscape) */
@media screen and (max-width: 812px) and (orientation: landscape) {
  /* iPhone landscape styles here */
}

#root {
  max-width: 80rem; /* Converted from 1280px to rem */
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Disable tap highlight */

  touch-action: manipulation; /* Improve scrolling performance on touch devices */

  -ms-user-select: none; /* Internet Explorer */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari and Chrome */
  -webkit-touch-callout: none; /* Prevent long press context menu on mobile Safari */
  user-select: none; /* no highlighting on page*/
}

:root {
  --numTiles: 2;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  margin: 0.0625rem; /* Converted from 1px to rem */
  padding: 0.9375rem; /* Converted from 15px to rem */
}

/* SCORE DATA */
#score {
  font-family: "LuckiestGuy", sans-serif;
  font-size: 2rem;
  color: white;

  -webkit-text-stroke-color: rgba(111, 21, 21, 0.459);
  -webkit-text-stroke-width: 1px;

  margin: auto;
  margin: auto;

  text-transform: uppercase;
  letter-spacing: 0.03rem;
  text-align: center;

  text-shadow: -0.0625rem -0.0625rem 0 #000000, 0.0625rem -0.0625rem 0 #00000065,
    -0.0625rem 0.0625rem 0 #ac3838, 0.0625rem 0.0625rem 0 #00000082;
}

/*CONTAINER DATA*/
.container,
.container-disabled {
  display: grid;
  grid-template-columns: repeat(
    var(--numTiles),
    minmax(0, calc(100% / var(--numTiles)))
  );
  grid-template-rows: repeat(
    var(--numTiles),
    minmax(0, calc(100% / var(--numTiles)))
  );
  max-width: 62.5rem;
  width: 25.25rem;
  height: 25.25rem;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 2.5rem;
  border: 0.4rem solid rgba(0, 0, 0, 0.263);
  border-radius: 1.3rem;
  background-color: rgba(164, 106, 106, 0);
  animation: regular-pulse 5s ease-in-out infinite alternate;
  /* animation: rotateBorder 5s forwards infinite; */
  /*SET TO LINEAR INFINITE FOR FUN / SET TO FORWARDS INFINITE FOR GOOD  */
}
.container-disabled {
  border: 0.4rem dotted rgba(255, 59, 59, 0.601);
}
.container-gameOver {
  display: flex;
  flex-direction: column;
  max-width: 62.5rem; /* Converted from 1000px to rem */
  justify-items: start;
  align-items: center;
  margin: auto;

  border-radius: 0.625rem; /* Converted from 10px to rem */
  color: white;
}
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PLAY BUTTON */
.play-btn {
  font-family: "Boogaloo";
  letter-spacing: 0.1rem;
  background-color: rgba(164, 106, 106, 0.682);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 9rem;
  text-align: center;
  margin: auto;
  margin-top: 0.625rem; /* Converted from 10px to rem */
  padding: 0.325rem 0.1rem; /* Converted from 10px, 20px to rem */
  transition: background-color 0.2s ease;
  transition-delay: 0s;
  text-align: center;
  font-size: 1.2rem;

  text-transform: uppercase;

  border-radius: 0.3125rem; /* Converted from 5px to rem */
  color: white;
}

.play-btn:hover {
  transform: scale(1.05);
  background-color: #33a9d463;
}

.play-btn:active {
  transform: scale(1.1);
}

.hide {
  display: none;
}

.tile,
.tile-flashing {
  padding: 1rem;
  height: 100%; /* Adjust the percentage according to your container */
  width: 100%; /* Adjust the percentage according to your container */
  max-height: 80%; /* Set the maximum height */
  max-width: 80%; /* Set the maximum width */
  border: 0.125rem solid rgba(251, 90, 90, 0.489); /* Converted from 2px to rem */

  margin: auto;
  border-radius: 0.8rem; /* Converted from 3px to rem */

  backdrop-filter: blur(10px);
  transition: transform step-end; /* Smooth transition on hover */
}

.tile {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Disable tap highlight */
}

.tile-flashing {
  background-color: #e41515c1;
}

.tile:active {
  animation: pulse 0.15s forwards;
}

.tile:hover {
  transform: scale(1.05);
  background-color: #e4151597;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  50% {
    /* Adjusted keyframe percentage */
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.title,
title-gameover {
  /* font-family: "Poppins"; */
  font-size: 2.25rem; /* Converted from 36px to rem */
  color: rgb(149, 188, 172);
  /* color: transparent; */
  /* -webkit-text-stroke: 3px black; Add black border with a thickness of 2px */
  text-align: center;
  white-space: nowrap;
  /* overflow: auto; */
  text-transform: lowercase;

  position: relative;
  animation: neon 1.5s ease-in-out infinite alternate;
}
/* @keyframes neon {
  from {
    text-shadow: 0 0 0.625rem #fff, 0 0 1.25rem #fff, 0 0 1.875rem #fff,
      0 0 2.5rem rgb(255, 0, 0), 0 0 4.375rem rgb(255, 0, 0),
      0 0 5rem rgb(255, 0, 0), 0 0 6.25rem rgb(255, 0, 0), 0 0 9.375rem #0ff;
  }
  to {
    text-shadow: 0 0 1.25rem #fff, 0 0 1.875rem rgba(255, 0, 0, 0.564),
      0 0 2.5rem rgb(255, 0, 0), 0 0 4.375rem rgb(255, 0, 0),
      0 0 5rem rgb(255, 0, 0), 0 0 6.25rem rgb(255, 0, 0),
      0 0 9.375rem rgb(255, 0, 0), 0 0 12.5rem #0ff;
  }
} */
.title-gameover {
}

.finalScore {
  margin: 0.9375rem; /* Converted from 15px to rem */
}

.leaderboard-container {
  position: relative;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  gap: 10px;
  width: 300px; /* Converted from 300px to rem */
  max-height: 450px; /* Set a maximum height for the leaderboard */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;

  justify-content: start;
  align-content: center;
  background-color: #9188e600;
  border-radius: 0.625rem; /* Converted from 10px to rem */
  margin-top: 1.25rem; /* Converted from 20px to rem */
  margin-bottom: 1.875rem; /* Converted from 30px to rem */
  animation: regular-pulse 5s ease-in-out infinite alternate;

  scrollbar-gutter: auto;
  scroll-snap-type: y proximity;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(24, 0, 34, 0.125);
  scroll-behavior: smooth;
}

.scroll-indicator-down,
.scroll-indicator-up {
  position: absolute;
  right: 8px;
  opacity: 0.75;
}

.scroll-indicator-down {
  height: 50px;

  bottom: 50px;

  animation: bounce-down 4s infinite; /* Apply the bounce animation */
}

.scroll-indicator-up {
  height: 50px;
  top: 50px;

  animation: bounce-up 4s infinite; /* Apply the bounce animation */
}

@keyframes bounce-down {
  0%,
  100% {
    transform: translateY(0) rotate(90deg); /* Start and end position */
  }
  50% {
    transform: translateY(-10px) rotate(90deg); /* Bounce up */
  }
}

@keyframes bounce-up {
  0%,
  100% {
    transform: translateY(0) rotate(270deg); /* Start and end position */
  }
  50% {
    transform: translateY(+10px) rotate(270deg); /* Bounce up */
  }
}

@keyframes regular-pulse {
  from {
    box-shadow: 0 0 0.625rem #dacc0c, 0 0 1.25rem #fff, 0 0 1.875rem #fff,
      0 0 0.625rem rgb(90, 8, 65), 0 0 2.1875rem rgb(255, 0, 0),
      0 0 1.25rem rgb(152, 24, 202), 0 0 1.875rem rgb(190, 23, 241),
      0 0 4.6875rem #0ff;
  }
  to {
    box-shadow: 0 0 1.25rem #bccf10, 0 0 1.875rem rgb(233, 19, 151),
      0 0 1.25rem rgb(133, 17, 113), 0 0 0.625rem rgb(255, 0, 0),
      0 0 2.5rem rgb(236, 59, 183), 0 0 1.875rem rgb(255, 0, 0),
      0 0 1.875rem rgb(255, 0, 0), 0 0 9.375rem rgba(17, 2, 31, 0);
  }
}

.leaderboard-row {
  display: flex;

  width: 90%;
  background-color: rgba(0, 0, 0, 0); /* Converted from #9e619a00 to rgba */
  height: 1.25rem; /* Converted from 20px to rem */
  margin: 0.5rem; /* Converted from 10px to rem */

  justify-content: space-between;
  align-items: center;

  color: white;
}

.leaderboard-row:first-child {
  margin-top: 1.5rem; /* Converted from 40px to rem */
}

.leaderboard-col {
  color: white;
  font-family: "ShadowsIntoLight", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif, Times, serif;
  letter-spacing: 0.4rem; /* Converted from 4px to rem */
  text-transform: uppercase;
  opacity: 1;
  animation: neon-text 3s ease-in-out infinite alternate;
  color: rgb(255, 0, 0);
}

@keyframes neon-text {
  from {
    text-shadow: 0 0 0px #860fbd, 0 0 0px #6d0abe, 0 0 0px #fff,
      0 0 0px rgb(255, 0, 0), 0 0 0px rgb(255, 0, 0), 0 0 0px rgb(255, 0, 0),
      0 0 0px rgb(255, 0, 0), 0 0 0px #0ff;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 0px rgb(255, 0, 0), 0 0 0px rgb(255, 0, 0),
      0 0 0px rgb(255, 0, 0), 0 0 0px rgb(255, 0, 0), 0 0 0px rgb(255, 0, 0),
      0 0 0px rgb(255, 0, 0), 0 0 0px #0ff;
  }
}

/* FORM DATA */
.name-form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; /* Converted from 10px to rem */
  border: 0.0625rem solid pink; /* Converted from 1px to rem */
  border-radius: 0.625rem; /* Converted from 10px to rem */
  box-shadow: 0.3125rem 0.125rem 0.625rem rgba(239, 135, 140, 0.8);
}

.name-input-label {
  font-size: 3rem; /* Converted from xx-large to rem */
}

.name-input {
  padding: 0.625rem; /* Converted from 10px to rem */
  font-size: 1.25rem; /* Converted from 20px to rem */
  margin-right: 1.25rem; /* Converted from 20px to rem */
  margin-left: 1.25rem; /* Converted from 20px to rem */
  border-radius: 0.3125rem; /* Converted from 5px to rem */
  text-transform: uppercase;
}

.name-form-btn {
  width: 50%;
  height: 50%;
  align-self: center;
  padding: 0.6rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem; /* Converted from 20px to rem */
  margin-right: 1.25rem; /* Converted from 20px to rem */
}

.bottom-bar {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 12.5rem auto;
  justify-content: center;
}

.bottom-bar > * {
  margin: 0 10px; /* Adjust margin as needed */
}

.disable-input {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 2, 2, 0);

  backdrop-filter: blur(0.1px);
  z-index: 999;
}
